.lobby-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.lobby {
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.lobby-header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}
